/* styles.css or BouncyText.module.css */
.bouncyText {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 3rem;
  color: #26c6da;
  /* Doesn't work with animation */
  /* background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #ebd619, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

}
.bouncyText span {
  display: inline-block;
}
.animate span {
  animation: bounce 1s ease-in-out 1; 
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
